In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import utils.tomo_eikonal as tomo

In [3]:
df = pd.read_csv(
    filepath_or_buffer="./input_data_80s.csv",
)

In [5]:
df.describe()

,source_id,lats,lons,latr,lonr,avg_vel,dist,tt,sigma
count,360.000000,360.000000,360.000000,360.000000,360.000000,360.000000,360.000000,360.000000,360.0
mean,27.116667,48.334724,20.064235,48.334724,20.064235,3.874846,457.724914,117.505647,1.0
std,23.091745,1.699501,3.806581,1.699501,3.806581,0.119738,154.694361,37.685475,0.0
min,0.000000,45.490900,11.616100,45.490900,11.616100,3.648033,199.008644,52.823859,1.0
25%,9.000000,46.918600,17.670700,46.918600,17.670700,3.769432,329.258802,84.348417,1.0
50%,20.000000,48.051700,19.893400,48.051700,19.893400,3.878285,436.702490,113.037009,1.0
75%,41.000000,49.600800,21.243600,49.600800,21.243600,3.973291,572.674284,145.515446,1.0
max,92.000000,53.269700,29.224200,53.269700,29.224200,4.163753,791.721228,200.237755,1.0

In [21]:
grid = np.zeros((10,10))

In [23]:
eik = tomo.Eikonal_Solver(grid = grid,gridsize = (10,10),filename="./input_data_80s.csv", BL = (11,44.4))
eik.transform2xy()

In [24]:
df_xy = eik.df

In [25]:
df_xy.to_csv(path_or_buf="./input_data_80s_xy.csv", index=False)

In [26]:
df_xy.describe()

,source_id,lats,lons,latr,lonr,avg_vel,dist,tt,sigma,xs,ys,xr,yr
count,360.000000,360.000000,360.000000,360.000000,360.000000,360.000000,360.000000,360.000000,360.0,360.000000,360.000000,360.000000,360.000000
mean,27.116667,48.334724,20.064235,48.334724,20.064235,3.874846,457.724914,117.505647,1.0,722.853674,398.445719,722.853674,398.445719
std,23.091745,1.699501,3.806581,1.699501,3.806581,0.119738,154.694361,37.685475,0.0,277.147880,192.490805,277.147880,192.490805
min,0.000000,45.490900,11.616100,45.490900,11.616100,3.648033,199.008644,52.823859,1.0,127.822002,90.858716,127.822002,90.858716
25%,9.000000,46.918600,17.670700,46.918600,17.670700,3.769432,329.258802,84.348417,1.0,547.203912,266.181289,547.203912,266.181289
50%,20.000000,48.051700,19.893400,48.051700,19.893400,3.878285,436.702490,113.037009,1.0,709.527875,360.484925,709.527875,360.484925
75%,41.000000,49.600800,21.243600,49.600800,21.243600,3.973291,572.674284,145.515446,1.0,809.709070,532.833056,809.709070,532.833056
max,92.000000,53.269700,29.224200,53.269700,29.224200,4.163753,791.721228,200.237755,1.0,1386.770264,944.826526,1386.770264,944.826526